<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NoDataLoadingView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>686235301BB24C0D001A7013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>686235491BB24C0D001A7013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>686235541BB24C0D001A7013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
